*{
    box-sizing: border-box;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

body{
    padding: 15px;
    margin: auto;
    background-image: url("../images/background.png");
    font-family: 'Orbitron', sans-serif;
}

main{
    text-align: center;
}

#game-state{
    display: none;
}

#start-button{
    display: none;
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(71, 71, 71);
    color: white;
}

#question-field{
    height: 400px;
    max-width: 750px;
    color: white;
    border: solid 1px black;
    border-radius: 15px;
    margin: 25px auto;
    margin-bottom: 5px;
    padding-top: 25px;
    background-image: url("../images/fighters.png");
    /* object-fit: contain; */
    background-size: cover;
}

.pill{
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 15px 0px;
    width: 300px;
    margin: 5px auto;
}

.answer-picture{
    max-width: 250px;
    border: solid 1px gray;
}

.right-wrong{
    margin-top: 15px;
}

.question-result{
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 20px 0px;
    max-width: 350px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 25px;
}

.game-question{
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 20px 0px;
    max-width: 500px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 25px;
}

.game-answer{
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    width: 150px;
    padding: 15px 0px;
    /* margin: auto; */
    margin: 15px auto;
}

.scoreboard{
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 25px;
    padding: 25px;
    max-width: 400px;
    text-align: left;
    font-weight: bold;
    margin: auto;
    margin-bottom: 25px;
}

.restart-message{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.game-over{
    margin-top: 25px;
    margin-bottom: 0px;
    text-align: center;
    bottom: 0px;
}